<script>
  <% backgroundArray = ["01bg.jpg", "02bg.jpg", "03bg.jpg", "04bg.jpg", "05bg.jpg", "06bg.jpg", "07bg.jpg"]; %>
  <% i = rand(6); %>
  <% backgroundImg = backgroundArray[i]; %>
  $("body").prepend($('<img class="fade-in background-image" id="wrap" src="<%=image_url backgroundImg%>">'));
  $("body").addClass("modal-opener");
</script>

<div class="modal-dialog modal-md">
  <div class="modal-content">
      <div class="bs-login bs-login-tabs">
          <ul id="loginTabs" class="nav nav-tabs">
            <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
            <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
            <li class=""><a href="#about" data-toggle="tab">About</a></li>
          </ul>
      </div>
    <div class="modal-body">
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="about">
          <p> Relive Your Vacation in an Instant!
              Let Instacation help you store and view albums from your vacation by location.</p>
        </div>

          <div class="tab-pane fade active in" id="signin">
            <!-- Sign In Form -->
          <form class="form-horizontal" action="<%= session_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <!-- Username input-->
            <div class="row">
              <div class="control-group col-md-6">
                <label class="control-label" for="username">Username:</label>
                <div class="controls">
                  <input type="text" id="username"btn btn-default"" name="user[username]" value="" class="form-control input-medium" placeholder="Username">
                </div>
              </div>
            </div>

            <!-- Password input-->
            <div class="row">
              <div class="control-group col-md-6">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                  <input type="password" id="password" name="user[password]" value="" class="form-control input-medium" placeholder="******">
                </div>
              </div>
            </div>

            <!-- Sign In Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls row">
                <button type="button" class="btn btn-default guest-login col-md-2 col-md-offset-1">Guest Login</button>
                <button id="signin-button" name="signin" class="btn btn-success col-md-2 col-md-offset-7">Sign In</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="signup">
          <form class="form-horizontal" action="<%= users_url %>" method="post">
            <!-- Sign Up Form -->
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <!-- Username input-->
            <div class="row">
              <div class="control-group col-md-6">
                <label class="control-label" for="email">Username:</label>
                <div class="controls">
                  <input type="text" class="form-control" id="username" name="user[username]" value="" class="form-control input-medium" placeholder='Username'>
                </div>
              </div>
            </div>

            <!-- Name input-->
            <div class="control-group">
              <div class='row'>
                <label class="control-label col-md-6 left-align" for="name">Name:</label>
              </div>
              <div class="controls row">
                <div class='col-md-6'>
                  <input type="text" class="form-control" id="name" name="user[first_name]" value="" placeholder='First name' class="form-control input-small">
                </div>
                <div class='col-md-6'>
                  <input type="text" class="form-control" id="name" name="user[last_name]" value="" placeholder='Last name' class="form-control input-small">
                </div>
              </div>
            </div>

          <div class='row'>
            <!-- Password input-->
            <div class="control-group col-md-6">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input type="password" class="form-control" id="password1" name="user[password]" value="" placeholder='******' class="form-control input-medium">
                <em>> 6 Characters</em>
              </div>
            </div>

            <div class="control-group col-md-6">
              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
              <div class="controls">
                <input type="password" class="form-control" id="password2" name="password_confirm" value="" placeholder='******' class="form-control input-medium">
              </div>
            </div>
          </div>

            <!-- Sign up Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
