<div class='edit-album-form'></div>

<div class="panel panel-default">
  <div class="panel-heading fit-container">
    <h4 class='title fitable-text'><%= album.escape('title') %></h4>
  </div>
  <div class="panel-body">
      <a href="<%= '#users/' + album.escape('owner_id') + '/albums/' + album.id %>" class="zoom" >
        <% if(photoUrl) { %>
          <div class='thumbnail'>
            <img src="<%= photoUrl %>" alt="Photos in <%= album.escape('title') %>" />
        <% } else { %>
          <div class='thumbnail no-image'>
            <p class="text-center"><i>No Images in this Album</i></p>
        <% } %>
          </div>
        <span class="overlay"><i class="fa fa-picture-o"></i>
          <div class="row">
            <% if (album.escape('description')[70]) var periods = "..." %>
            <% if (!album.escape('description')[70]) var periods = "" %>
            <h5 class="col-md-10 solid description"> <%= album.escape('description').substring(1, 70) + periods %></h5>
          </div>
        </span>
      </a>
  </div>
  <div class="panel-footer">
    <p class='location-name  pull-left'>
    <% if (location) {%>
      <b><%= location.escape('name')%></b>
      <i><%= " (" + location.escape('state') + ", " + location.escape('country') + ")"%></i>
    <% } %>
    </p>
    <span class="pull-right">
      <% if (editable) { %>
        <i id="edit-album" class="fa fa-pencil" data-toggle="modal" data-target="<%= "#albumFormEdit" + album.id %>"></i>
        <i id="delete-album" class="fa fa-trash delete-album"></i>
      <% } %>
    </span>
  </div>
</div>
