
<a href="<%= '#users/' + album.escape('owner_id') + '/albums/' + album.id %>" >
  <div class='fit-container'>
    <h3 class='title fitable-text'><%= album.escape('title') %></h3>
  </div>

<div class='image'>
    <div class='thumbnail'>
      <% if(photoUrl) { %>
        <img src="<%= photoUrl %>" alt="Photos in <%= album.escape('title') %>"/></a>
      <% } else { %>
        <p><i>No Images in this Album</i></p>
      <% } %>
    </div>
  </a>


  <p class='location-name'>
    <% if (location) {%>
      <b><%= location.escape('name')%></b>
      <i><%= " (" + location.escape('state') + ", " + location.escape('country') + ")"%></i>
    <% } %>
  </p>
</div>

<% if (editable) { %>
  <a href="#" class="btn btn-primary delete-album"> x </a>
  <a href='#' class='btn btn-primary edit-album' role="button"> edit </a>
  <div class='edit-album-form'>

  </div>
<% } %>
