<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3><%= albumView ? 'Update Album' : 'Create a New Album' %></h3>
    </div>
    <div class="modal-body">
      <form class="<%= albumView ? 'album-update' : 'album-create' %>" name="contact">
          <div class = "row">
            <div class="control-group col-md-7">
              <label class="control-label" for="title">Album Name</label>
              <div class="controls">
                <input type="text"
                       class="form-control form-control input-medium"
                       id="title"
                       name="album[title]"
                       <% if(albumView) { %>
                         value='<%= albumView.model.escape('title') %>'
                       <% } %>
                       placeholder='Album Name'>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="control-group  col-md-7">
              <label class="control-label" for="location">Location</label>
              <div class="controls">
                <input type="text"
                       class="location-picker form-control input-medium"
                       id="location"
                       name="location"
                       <% if(albumView) { %>
                         value='<%= location %>'
                       <% } %>
                       placeholder='Add location tag'>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="control-group  col-md-7">
              <label class="control-label" for="description">Description</label>
              <div class="controls">
                <textarea name="album[description]" rows="2" id="description" placeholder='Add a description' class="form-control"><% if(albumView) { %><%= albumView.model.escape('description') %><% } %></textarea>

              </div>
            </div>
          </div>

        <% if(!albumView) { %>
          <div class="row">
            <hr>
          </div>

          <div class="control-group">
            <div class="row">
              <label class="control-label col-md-6" for="choosephoto">Add Some Pictures</label>
            </div>

              <div class="row">
                <div class="controls  col-md-3">
                  <button id="chosen-photos" name="choosephoto" class="btn btn-default choose-photo"> Click or Drag Photos Here </button>
                  <div class='chosen-photos'>  </div>
                </div>

                <div class="controls col-md-4 col-md-offset-2">
                  <input type="text"
                         id="caption"
                         class="form-control input-medium"
                         name="photo[caption]"
                         placeholder="Caption"
                         <% if(albumView) { %>
                           value='<%= location %>'
                         <% } %>>
                </div>
              </div>
            </div>
          <% } %>

          <div class="row">
            <hr>
          </div>

          <div class="control-group">
            <div class="row">
              <div class="col-md-3">
                <input class="btn btn-success" type="submit" value="<%= albumView ? 'Update Album' : 'Create Album' %>" id="submit">
              </div>
            </div>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <div class="alert alert-warning alert-dismissible hidden" role="alert">
           <button type="button" class="close" data-dismiss="alert">
             <span aria-hidden="true">&times;</span><span class="sr-only">
               Close
             </span>
           </button>
          <p class="error-text"></p>
        </div>
      </div>
  </div>
</div>
