<!DOCTYPE html>
<html>
<head>
  <title>Instacation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', '//widget.cloudinary.com/global/all.js' %>
  <script>
    filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>")
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/header" %>

<div class='wrap'>
  <div class='container'>
    <%= yield %>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <a href="http://www.cssherry.com/">Contact</a> | <a href="https://github.com/zhoux10/instacation">Visit on Github</a> | © 2015 - Today
</nav>

</body>
</html>
