<!DOCTYPE html>
<html>
<head>
  <title>Instacation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/header" %>

<%= yield %>

<footer> <a href="http://www.cssherry.com/">Contact</a> | <a href="https://github.com/zhoux10/instacation">Visit on Github</a> | © 2015 - Today </footer>

</body>
</html>
