<!DOCTYPE html>
<html>
<head>
  <title>Instacation</title>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application',
                             '//widget.cloudinary.com/global/all.js',
                             'https://maps.googleapis.com/maps/api/js?libraries=places',
                             "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"%>

  <script>
    var cloud_name = "<%= ENV['cloud_name'] %>";
    var upload_preset = "<%= ENV['upload_preset'] %>";
    var api_key = "<%= ENV['cloudinary_api'] %>";
    $.cloudinary.config({ cloud_name: cloud_name, api_key: api_key })
  </script>

  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css">

  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/header" %>
  <div class='container'>
    <%= yield %>
  </div>

<footer class="navbar navbar-default navbar-bottom" role="navigation">
    <a href="http://www.cssherry.com/">Contact</a> | <a href="https://github.com/zhoux10/instacation">Visit on Github</a> | © 2015 - Today
</footer>

<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

</body>
</html>
